@import url('../node_modules/modern-normalize/modern-normalize.css');

:root {
  --swiper-pagination-bullet-size: 5px;
  --swiper-pagination-bullet-inactive-color: #fafafa;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 7px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  cursor: pointer;
}

.section-images-slider {
  padding: 100px 50px;
}

.swiper-images {
  max-width: 950px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(55, 54, 54, 0.481);
  padding: 20px 14px;
  border-radius: 4px;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  --swiper-navigation-size: 16px;
}

.swiper-video {
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px 25px 10px !important;
  background-color: #000;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.99);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 10;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-left: auto;
  right: 20px;
  top: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn-svg {
  stroke: currentColor;
}

.modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
